.readerCard {
  background-color: white;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 70% !important;
  translate: -50% -50%;
  padding: 20px 4%;
  margin-top: 40px;
}

.back {
  position: absolute;
  top: 4%;
  left: 4%;
  cursor: pointer;
}

.readerCard .leftImg {
  width: 400px;
  border-radius: 20%;
}

.readerCard .logo {
  width: 200px;
  margin-top: 20px;
}

.readerCard > p {
  font-size: x-large;
  margin-bottom: 0;
}

.readerCard input:not(input[type='radio']),
.readerCard select {
  border: 0;
  outline: 0;
  border-radius: 8px;
  height: 40px;
  width: 186px;
  padding: 0 12px;
  background-color: var(--dark-blue);
  color: white;
}

.readerCard input::placeholder {
  color: var(--light-grey);
}

.readerCard select {
  appearance: none;
}

.readerCard input[type='date']::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.readerContainer {
  padding: var(--custom-margin);
  padding-top: 200px;
  color: var(--dark-blue);
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.readerContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../../assets/readerPage.jpg');
  background-size: cover;
  background-position: center right;
  filter: brightness(20%);
}

.gender {
  display: flex;
  align-items: center;
  margin-top: 8px;
  gap: 4px;
  width: 186px;
}

.gender input[type='radio'] {
  cursor: pointer;
}

.readerCard input[type='date']::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.formContainer {
  height: 344px;
  padding-right: 36px;
  overflow-y: auto;
}

.dropdownIcon {
  position: absolute;
  top: 58%;
  right: 6%;
  color: black;
  pointer-events: none;
  filter: invert(1);
}

.readerCard select {
  cursor: pointer;
}

.readerCard select[disabled] {
  background-color: grey;
  cursor: default;
}

.phoneField::-webkit-inner-spin-button,
.phoneField::-webkit-outer-spin-button {
  appearance: none;
}

.contained {
  margin-top: 20px !important;
  width: 100%;
  background-color: var(--dark-blue) !important;
  color: white !important;
}

.contained:hover {
  background-color: white !important;
  color: var(--dark-blue) !important;
}

.validationError {
  color: red;
  margin: 0;
  height: 0;
  font-size: x-small;
}

@media (max-width: 1336px) {
  .title {
    font-size: small;
  }
  .readerCard .leftImg {
    width: 50%;
  }
  .readerCard .logo {
    width: 50%;
  }
  .readerCard {
    justify-content: center;
    margin-top: 200px;
    width: 70%;
  }

  .readerContainer::before {
    height: 200%;
  }
  .institution {
    justify-content: center;
  }
}

@media (max-width: 427px) {
  .title {
    font-size: x-small;
  }
  .formContainer {
    padding-right: 0;
  }
}
